.arrow {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.3s;

  &--left {
    background-image: url(../images/slider/slide-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
  }

  &--right {
    background-image: url(../images/slider/slide-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
  }

  &:hover {
    transform: scale(1.2);
  }
}
