.navigation {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 20px 49px;

  &__icons {
    display: flex;
    gap: 32px;
  }

  &__logo {
    background-image: url(../images/logo/header-Air.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 28px;
    width: 46px;
  }

  &__burger {
    background-image: url(../images/logo/header-burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
  }

  &__paragraph {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 5px;
    text-transform: uppercase;

  }
}
