.section {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 120px 20px;

  &--second {
    padding: 0;
    border-radius: 30px;
    background-color: white;
  }

  &--third {
    padding: 0;
  }

  &--fourth {
    padding: 0;
  }

  &--fiveth {
    background-color: rgba(255, 255, 255, 1);
    padding: 72px 20px;
  }
}
