/* stylelint-disable comment-empty-line-before */
/* stylelint-disable rule-empty-line-before */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.body {
  background-color: rgb(242, 246, 250);
}

.header {
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 62.4px;
  letter-spacing: -2px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 30px 30px;
  min-height: 100vh;
}
.header__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 20px 49px;
}
.navigation__icons {
  display: flex;
  gap: 32px;
}
.navigation__logo {
  background-image: url(../images/logo/header-Air.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 28px;
  width: 46px;
}
.navigation__burger {
  background-image: url(../images/logo/header-burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}
.navigation__paragraph {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.home {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 0 20px;
}
.home__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 49px;
}
.home__link {
  display: block;
  box-sizing: border-box;
  height: 50px;
  background-color: rgb(32, 96, 246);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  padding: 14px 90px;
}
.home__link::after {
  content: "Learn more";
}
.home__title {
  margin-bottom: 32px;
}

.title {
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 62.4px;
  letter-spacing: -2px;
  text-align: left;
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  letter-spacing: 1px;
}

.intro__container {
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  height: 390px;
}
.intro__content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}
.intro__images {
  z-index: 1;
  display: flex;
  position: absolute;
  width: 100%;
  height: 390px;
}
.intro__images__image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 390px;
  border-radius: 30px;
}
.intro__arrows {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.intro__info {
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 3px;
  margin-bottom: 24px;
}
.intro__title {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.intro__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.arrow {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.arrow--left {
  background-image: url(../images/slider/slide-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
}
.arrow--right {
  background-image: url(../images/slider/slide-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
}

.section {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 120px 20px;
}
.section--second {
  padding: 0;
  border-radius: 30px;
  background-color: white;
}
.section--third {
  padding: 0;
}
.section--fourth {
  padding: 0;
}
.section--fiveth {
  background-color: rgb(255, 255, 255);
  padding: 72px 20px;
}

.about__us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__us__title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  margin-bottom: 24px;
}
.about__us__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(108, 120, 139);
}

.our__expertise {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.our__expertise__title {
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.8px;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 56px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.cards__item {
  width: 50%;
  position: relative;
  left: 25%;
  padding-top: 50%;
  margin-bottom: 32px;
}
.cards__image {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.cards__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards__title {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  margin-bottom: 16px;
}
.cards__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: rgb(108, 120, 139);
  margin-bottom: 56px;
}

.services {
  display: flex;
  flex-direction: column;
  padding: 120px 20px 0;
}
.services__service {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.services__title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  text-align: left;
  letter-spacing: 1px;
  color: rgb(37, 55, 87);
  margin-bottom: 24px;
}
.services__title--small {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 3px;
  text-align: start;
  color: rgb(192, 205, 215);
  text-transform: uppercase;
  margin-bottom: 16px;
}
.services__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgb(108, 120, 139);
  margin-bottom: 48px;
}

.service {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
}
.service__number {
  box-sizing: border-box;
  padding: 2px 20px;
  width: 46px;
  height: 24px;
  border-radius: 23px;
  background-color: rgb(233, 239, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.service__number--text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  color: rgb(32, 96, 246);
}
.service__text {
  margin-bottom: 32px;
}
.service__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  color: rgb(108, 120, 139);
}
.service__box {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}
.service__box--text {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: center;
  color: rgb(51, 69, 99);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 96, 246);
  border-radius: 50%;
  box-sizing: border-box;
  padding: 12px;
}
.box__arrow {
  background-image: url(../images/services/services-arrow-left.svg);
  width: 16px;
  height: 16px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  margin: 120px 0;
}
.testimonials__title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: rgb(37, 55, 87);
  margin-bottom: 48px;
}
.testimonials__title--small {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  color: rgb(192, 205, 215);
  margin-bottom: 16px;
}

.people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
}
.person__image {
  z-index: 10;
  position: relative;
  margin-bottom: 68px;
  margin-top: 75px;
}
.person__image::before {
  content: "";
  z-index: -1;
  width: 44px;
  height: 110px;
  background-color: rgb(32, 96, 246);
  border-radius: 12px;
  position: absolute;
  top: -30px;
  left: -30px;
  transform: rotate(30deg);
  transform-origin: 100% 100%;
}
.person__image::after {
  content: "";
  z-index: -1;
  width: 44px;
  height: 110px;
  background-color: rgb(32, 96, 246);
  border-radius: 12px;
  position: absolute;
  bottom: -30px;
  right: -30px;
  transform: rotate(30deg);
  transform-origin: 0 0;
}
.person__picture {
  width: 110px;
  height: 110px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}
.person:hover {
  box-shadow: 0 8px 12px #2c2c2c;
}
.person:hover .person__image::before {
  transform: translateX(0) translateY(0);
  transition: 0.3s;
}
.person:hover .person__image::after {
  transform: translateX(0) translateY(0);
  transition: 0.3s;
}
.person:hover .person__picture {
  transform: scale(1.2);
  transition: 0.3s;
}
.person__quote {
  width: 24px;
  height: 24px;
  background-image: url(../images/testimonials/testimonial-quote.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.person__description {
  box-sizing: border-box;
  padding: 0 42px;
  margin-bottom: 16px;
}
.person__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  color: rgb(108, 120, 139);
}
.person__name {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  margin-bottom: 4px;
}
.person__specialization {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 3px;
  text-align: center;
  color: rgb(192, 205, 215);
  margin-bottom: 32px;
}

.vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vision__title {
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.8px;
  text-align: center;
  color: rgb(37, 55, 87);
  margin-bottom: 24px;
}
.vision__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
}
.vision__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  color: rgb(108, 120, 139);
}
.vision__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgb(32, 96, 246);
  text-decoration: none;
}
.vision__button::after {
  content: "Apply";
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}
.footer__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  box-sizing: border-box;
  padding: 72px 20px 80px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.footer__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__navigation__logo {
  background-image: url(../images/logo/header-Air.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 28px;
  width: 46px;
  margin-bottom: 50px;
}
.footer__navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.footer__navigation__link {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}
.footer__navigation__link:hover {
  color: rgb(32, 96, 246);
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forms__title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-bottom: 48px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-bottom: 56px;
}
.form__input {
  background-color: rgb(44, 44, 44);
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  padding-bottom: 17px;
  outline: none;
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
}
.form__input:focus {
  border-color: rgb(20, 78, 212);
}
.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: rgb(20, 78, 212);
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.form__button:active {
  background-color: rgb(44, 44, 44);
  border: 2px solid rgb(20, 78, 212);
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}
.contact-us__title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: rgb(255, 255, 255);
  margin-bottom: 48px;
}
.contact-us__title--small {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgb(149, 149, 149);
  margin-bottom: 8px;
}
.contact-us__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.call__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
}

.visit__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.socials:first-child {
  margin-bottom: 16px;
}
.socials__icons {
  display: flex;
  align-items: center;
  gap: 41px;
}
.socials__icons--facebook {
  width: 24px;
  height: 24px;
  background-image: url(../images/socials-icons/socials-icon-facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.socials__icons--x {
  width: 24px;
  height: 24px;
  background-image: url(../images/socials-icons/socials-icon-x.svg);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
}
.socials__icons--instagram {
  width: 24px;
  height: 24px;
  background-image: url(../images/socials-icons/socials-icon-instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
